*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: $font-roboto;
    background-color: plum;
}

a {
    display: inline-block;
    text-decoration: none;
}

span {
    display: inline-block;
}

img {
    max-width: 100%;
    display: block;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

input, button, textarea, select {
    font-family: inherit;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.lock {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 105.5rem;
}
